html,
body {
  padding: 0;
  margin: 0;
  font-family: "Museo Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2{
  font-family: "Museo W01";
  color:#444444;
}